/**
 * used in every page to provide default styling
 * provides styling for the profile bar and popup fields present in most pages
 */

/*
generic global styling
*/

:root {
    --orange: rgb(233, 84, 32);
    --blue: rgb(22, 171, 223);
    --gray: rgb(215, 211, 207);
    --lightgray: rgba(235, 233, 231);
    --smallFontSize: 12px;
    --mediumFontSize: 16px;
    --largeFontSize: 24px;
    --profileBarHeight: 50px;
    --minimumWidth: 200px;
    --borderRadius: 5px;
    --screenPadding: var(--profileBarHeight);
    --margin: calc(var(--mediumFontSize) / 2);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow: scroll;
    font-family: Arial, Helvetica, sans-serif;
}

:not(.horizontalScrollContainer)::-webkit-scrollbar {
    display: none;
}

:not(.horizontalScrollContainer) {
    scrollbar-width: none;
}

*:focus {
    outline: none;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: var(--orange);
    font-size: var(--mediumFontSize);
}

/*
classes to add these attributes to elements without inline styling
*/

.floatRight {
    float: right;
}

.hidden {
    display: none !important;
}

.margin {
    margin-top: var(--margin);
}

.doubleMargin {
    margin-top: calc(var(--margin) * 2);
}

.nopointer {
    pointer-events: none;
}

/*
styling for general elements such as:
articles, input elements, buttons and text
*/

article {
    padding: calc(var(--margin) * 2);
    border: 1px solid black;
    border-radius: var(--borderRadius);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    background-color: white;
}

article.overlay {
    position: absolute;
    padding: 0;
    border: none;
    border-radius: 0;
    background-color: var(--gray);
    z-index: 2;
}

span, header, footer {
    overflow: hidden;
    overflow-wrap: break-word;
}

span.centerText {
    display: block;
    text-align: center;
}

span.subheader {
    width: 100%;
    display: block;
    margin-bottom: var(--margin);
    border-bottom: 2px solid black;
    font-size: var(--mediumFontSize);
    text-align: center;
    font-weight: bold;
}

input:not([type=file]), textarea, button, select, .selection, .checkbox {
    height: calc(var(--mediumFontSize) * 2);
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid black;
    border-radius: var(--borderRadius);
    font-size: var(--mediumFontSize);
    background-color: var(--gray);
    outline: none;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    display: none;
}

textarea {
    height: calc(var(--mediumFontSize) * 4.5);
    min-height: calc(var(--mediumFontSize) * 2);
    padding-top: 5px;
    border-bottom-right-radius: 0;
    resize: vertical;
    overflow-x: hidden;
}

textarea::-webkit-scrollbar {
    /* to display the resizer */
    display: initial !important;
    width: 20px;
    height: 20px;
}

textarea::-webkit-resizer {
    /* dark bottom right trangle */
    background-color: var(--gray);
    border-left: 10px solid var(--gray);
    border-top: 10px solid var(--gray);
    border-right: 10px solid rgba(0, 0, 0, 0.5);
    border-bottom: 10px solid rgba(0, 0, 0, 0.5);
}

button {
    border: none;
    background-color: var(--orange);
    color: white;
}

button.nostyle {
    height: initial;
    width: initial !important;
    padding: 0;
    font-size: inherit;
    background-color: transparent;
    font-weight: inherit;
    border-radius: 0;
    color: inherit;
    outline: none;
    border: none;
}

.selection {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

input[type=radio]:checked + .selection {
    background-color: var(--orange);
    border: none;
    color: white;
    filter: none;
    pointer-events: none;
}

.checkbox {
    width: calc(var(--mediumFontSize) * 2 - var(--margin) * 2);
    height: calc(var(--mediumFontSize) * 2 - var(--margin) * 2);
    display: inline-block;
    border-radius: var(--borderRadius);
    background-color: var(--lightgray);
}

header {
    width: 100%;
    font-size: var(--largeFontSize);
    text-align: center;
}

@media (hover: hover) {
    input:hover, textarea:hover, button:not(.nostyle):hover, select:hover, .selection:hover,
    button:not(.nostyle):focus-visible, select:focus-visible, a:focus-visible button {
        filter: brightness(85%);
    }
}

input:focus, textarea:focus {
    filter: brightness(85%);
}

input[type=radio], input[type=checkbox] {
    /* hide the radio and checkbox buttons, labels are used to display them */
    display: none;
}

.avatar {
    background-color: white;
    border: 2px solid black;
    border-radius: 50%;
}

a:not(.nostyle) {
    color: var(--orange);
    text-decoration: none;
}

a:not(.nostyle):visited {
    color: var(--orange);
}

a.nostyle {
    color: black;
    text-decoration: none;
}

@media (hover: hover) {
    a:not(.nostyle):hover, a:not(.nostyle):focus-visible {
        text-decoration: underline;
    }
}

.center, .centerHorizontal, .centerVertical {
    /* hide elements until they are centered to prevent jarring effects on reload 
       the elements are shown using js as soon as they are centered, or using nojs.css if js is disabled */
    visibility: hidden;
}

.map {
    width: 100%;
    height: 300px;
    position: relative;
    border: 2px solid black;
    border-radius: var(--borderRadius);
    overflow: hidden;
}

.map input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.map img {
    height: calc(30px + var(--margin) * 2);
    padding: var(--margin);
    position: absolute;
    background-color: rgba(215, 211, 207, 0.5); /* var(--gray) with 50% opacity */
    cursor: pointer;
    z-index: 1;
}

.map img#set {
    border: 2px solid black;
    border-top: none;
    border-left: none;
    border-radius: 0 0 var(--borderRadius) 0;
}

.map img#clear {
    right: 0;
    border: 2px solid black;
    border-top: none;
    border-right: none;
    border-radius: 0 0 0 var(--borderRadius);
}

/*
styling for forms
*/

form header {
    margin-bottom: calc(var(--largeFontSize) / 2);
}

form > span, form > section > span {
    font-size: var(--smallFontSize);
    font-weight: bold;
}

form input, form textarea, form select, form .selection, form .warningText, form .map {
    margin-bottom: var(--margin);
}

form input, form textarea, form button {
    width: 100%;
}

form footer {
    margin-top: var(--margin);
}

form > section {
    padding: var(--margin);
    margin-bottom: var(--margin);
    border-radius: var(--borderRadius);
    background-color: var(--lightgray);
}

form > section > header {
    margin-bottom: 0;
    font-size: var(--mediumFontSize);
    border-radius: var(--borderRadius);
    font-weight: bold;
    cursor: default;
}

form > section > header button.nostyle {
    width: 100% !important;
}

@media (hover: hover) {
    form > section > header button:hover, form > section > header button:focus-visible {
        background-color: var(--gray);
    }
}

form > section.closed > :not(header) {
    display: none;
}

form > section:not(.closed) {
    padding-bottom: 0;
}

form .warningText {
    display: block;
    text-align: center;
    color: red;
    font-style: italic;
}

form .errorText, form .errorMessage {
    display: none;
    font-style: italic;
}

form .invalid {
    color: red;
}

form .invalid input {
    border: 2px solid red;
}

form .invalid .errorText, form .invalid .errorMessage {
    /* show the error text if it is in an invalid field */
    display: initial;
}

/*
styling for lists of fairs or zones
*/

.listContainer section {
    width: 100%;
    line-height: 0;
    position: relative;
    margin-bottom: var(--margin);
    background-color: transparent;
    border-radius: var(--borderRadius);
}

.listContainer > section:last-child {
    margin-bottom: 0;
}

.listContainer section > a, .listContainer section > button {
    width: 100% !important;
    height: 100%;
    display: block;
    line-height: 0;
    padding: var(--margin);
    background-color: var(--lightgray);
    text-align: left;
    cursor: pointer;
    color: black;
}

@media (hover: hover) {
    .listContainer section > a:hover, .listContainer section > button:hover,
    .listContainer section > a:hover ~ .buttons, .listContainer section > button:hover ~ .buttons,
    .listContainer section > a:focus-visible, .listContainer section > button:focus-visible,
    .listContainer section > a:focus-visible ~ .buttons, .listContainer section > button:focus-visible ~ .buttons {
        background-color: var(--gray);
    }

    .listContainer section button:hover, .listContainer section button:focus-visible {
        filter: brightness(100%);
    }
}

.listContainer section.add > a, .listContainer section.add > button {
    cursor: default;
}

.listContainer section.add span {
    width: calc(100% - var(--mediumFontSize) * 2);
    font-size: var(--mediumFontSize);
    text-align: center;
    font-weight: bold;
}

.listContainer section.add img {
    height: var(--mediumFontSize);
    vertical-align: top;
}

.listContainer section span, .listContainer section header, .listContainer section footer {
    line-height: 1;
    font-size: var(--smallFontSize);
    display: inline-block;
}

.listContainer section header, .listContainer section footer {
    display: block;
}

.listContainer section header {
    width: initial;
    overflow-wrap: break-word;
    margin-bottom: var(--margin);
    line-height: var(--largeFontSize) !important; 
    font-size: var(--mediumFontSize);
    text-align: initial;
    font-weight: bold;
}

.listContainer section header span {
    display: inline;
    margin-left: var(--margin);
    font-size: var(--mediumFontSize);
    font-weight: initial;
}

.listContainer section footer {
    margin-top: 0;
    line-height: initial;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.listContainer section .information, .listContainer section .organizer {
    display: inline-block;
    margin-bottom: var(--margin);
    overflow: hidden;
    white-space: nowrap;
}

.listContainer section .information span, .listContainer section .organizer span {
    margin-right: var(--margin);
    line-height: var(--mediumFontSize);
}

.listContainer section .information img, .listContainer section .organizer img {
    height: var(--mediumFontSize);
}

.listContainer section .organizer {
    margin-bottom: 0;
    margin-top: var(--margin);
}

.listContainer section .buttons {
    top: var(--margin);
    right: var(--margin);
    position: absolute;
    background-color: var(--lightgray);
    pointer-events: none;
}

@media (max-width: 500px) {
    .listContainer section .buttonContainer {
        padding-top: calc(var(--largeFontSize) + var(--margin) * 2);
    }

    .listContainer section .buttons {
        right: initial;
        left: var(--margin);
    }
}

.listContainer section .buttons button, .listContainer section .buttons a {
    width: auto !important;
    height: var(--largeFontSize);
    line-height: var(--largeFontSize);
    padding: var(--margin);
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 100vh;
    background-color: white;
    pointer-events: initial;
    display: inline-block;
    cursor: default;
    color: black;
}

.listContainer section .buttons .edit {
    margin-right: var(--margin);
}

.listContainer section .buttons .delete {
    float: right;
}

@media (hover: hover) {
    .listContainer section .buttons :hover, .listContainer section .buttons :focus-visible {
        color: white;
    }

    .listContainer section .buttons :hover img, .listContainer section .buttons :focus-visible img {
        filter: invert(1);
    }

    .listContainer section .buttons .edit:hover, .listContainer section .buttons .edit:focus-visible {
        background-color: var(--blue);
    }

    .listContainer section .buttons .delete:hover, .listContainer section .buttons .delete:focus-visible {
        background-color: var(--orange);
    }
}

.listContainer section .buttons span {
    font-size: var(--smallFontSize);
}

.listContainer section .buttons img {
    height: var(--smallFontSize);
}

.listSeperator {
    width: 100%;
    height: 0;
    border-bottom: 2px solid black;
    margin-bottom: var(--margin);
}

/*
styling for horizontally scrolling fields
*/

.horizontalScroll {
    width: 100%;
    padding: var(--margin);
    padding-bottom: 0;
    margin-bottom: var(--margin);
    border-radius: var(--borderRadius);
    background-color: var(--lightgray);
}

.horizontalScrollContainer {
    width: 100%;
    height: 100%;
    padding-bottom: var(--margin);
    overflow-y: hidden;
    white-space: nowrap;
}

.horizontalScrollContainer > * {
    height: 100%;
    margin-right: var(--margin);
    border-radius: var(--borderRadius);
}

.horizontalScrollContainer > *:last-child {
    margin-right: 0;
}

/*
styling for pages
*/

#pageContainer {
    width: 100%;
    height: calc(100% - var(--screenPadding));
    margin-top: var(--screenPadding);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page {
    height: calc(100% - var(--screenPadding));
    padding: 0;
    display: flex;
    flex-direction: column;
}

.page > header {
    width: max(calc(100% - var(--margin) * 4), var(--minimumWidth));
    margin: calc(var(--margin) * 2);
    margin-bottom: 0;
    border-bottom: 2px solid black;
    word-break: break-all;
    flex-shrink: 0;
}

.page > .verticalScrollContainer {
    flex-grow: 1;
    overflow-y: scroll;
    padding: calc(var(--margin) * 2);
}

/*
styling for the profile bar
*/

#profileBar {
    width: 100%;
    height: var(--profileBarHeight);
    display: flex;
    line-height: 0;
    align-items: center;
}

#profileBar img {
    height: 60%;
    background-color: white;
    flex-shrink: 0;
}

@media (hover: hover) {
    #profileBar a:hover img:not(.avatar), #profileBar a:focus-visible img:not(.avatar) {
        background-color: var(--gray);
    }

    #profileBar a:hover img.avatar, #profileBar a:focus-visible img.avatar {
        filter: brightness(85%);
    }

    #profileBar a:hover span, #profileBar a:focus-visible span {
        text-decoration: underline;
    }

    #profileBar a.selected:hover img, #profileBar a.selected:focus-visible img {
        background-color: rgb(198,71,27); /* orange 85% brightness */
    }
}

#profileBar section {
    height: 100%;
    flex-grow: 1;
}

#profileBar section a {
    height: 100%;
    max-width: 100%;
    width: fit-content;
    padding: calc(var(--profileBarHeight) / 5);
    padding-bottom: 0;
    padding-top: 0;
    display: flex;
    align-items: center;
}

#profileBar section #profileBarAvatar {
    margin-right: var(--margin);
}

#profileBar section span {
    max-height: 100%;
    line-height: initial;
    font-size: var(--largeFontSize);
    vertical-align: super;
    overflow-y: scroll;
    font-weight: bold;
}

#profileBar > a {
    height: 100%;
    padding: calc(var(--profileBarHeight) / 5);
    padding-top: 0;
    padding-bottom: 0;
    align-items: center;
    position: relative;
    flex-shrink: 0;
    display: flex;
}

#profileBar > a .unreadCount {
    width: 50%;
    height: 50%;
    right: calc(var(--margin) / 2);
    top: calc(var(--margin) / 2);
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: var(--orange);
    border: 2px solid black;
    border-radius: 50%;
    color: white;
}

#profileBar a.selected img {
    background-color: var(--orange);
}

#profileBar #messageButton {
    border-right: 1px solid black;
}

#profileBar #notificationButton.selected ~ #messageButton, #profileBar #messageButton.selected {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

/*
styling for the popup field
*/

#popupField {
    width: min(450px, calc(100% - var(--profileBarHeight) * 2));
    max-height: calc(100% - var(--profileBarHeight) * 2);
    margin-top: var(--profileBarHeight);
    padding: var(--margin);
    padding-top: 0;
    padding-bottom: 0;
    right: var(--profileBarHeight);
    border: 1px solid black;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 3;
    display: flex;
    flex-direction: column;
}

#popupField .centerText {
    margin-bottom: var(--margin);
}

#notificationField, #messageField {
    display: flex;
    flex-shrink: 1;
    flex-direction: column;
    max-height: 400px;
}

#notificationField > *, #messageField > * {
    flex-shrink: 0;
}

#notificationField > .subheader, #messageField > .subheader {
    margin-bottom: 0;
}

#notificationField > .subheader + *, #messageField > .subheader + * {
    padding-top: var(--margin);
    flex-shrink: 1;
}

/*
styling for the notification field
*/

#notificationField .notification {
    margin-bottom: var(--margin);
    padding: calc(var(--margin) / 2);
    border-left: var(--margin) solid var(--lightgray);
    border-radius: var(--borderRadius);
    background-color: var(--lightgray);
    position: relative;
}

#notificationField .notification.unread {
    border-color: var(--orange);
}

#notificationField .notification button.clear {
    height: initial;
    width: initial;
    padding: 0;
    right: 0;
    top: 0;
    border-radius: 0;
    position: absolute;
    background-color: transparent;
}

#notificationField .notification button.clear img {
    padding: calc(var(--margin) / 2);
    height: calc(var(--mediumFontSize) + var(--margin));
    border-bottom-left-radius: var(--borderRadius);
}

@media (hover: hover) {
    #notificationField .notification button.clear:hover, #notificationField .notification button.clear:focus-visible {
        filter: opacity(100%);
    }
    
    #notificationField .notification img:hover, #notificationField .notification button.clear:focus-visible img {
        background-color: var(--gray);
    }
}

#notificationField .notification header {
    width: initial;
    margin: var(--margin);
    margin-right: calc(var(--mediumFontSize) + var(--margin) / 2);
    margin-left: 0;
    text-align: left;
    font-weight: bold;
    font-size: var(--mediumFontSize);
}

#notificationField .notification span.body, #notificationField .notification span.reviewtext {
    margin-right: var(--margin);
    font-size: var(--mediumFontSize);
    font-weight: initial;
    display: block;
}

#notificationField .notification span.reviewtext {
    white-space: pre-wrap;
}

#notificationField .notification .rating {
    display: inline-flex;
    flex-direction: row-reverse;
    flex-shrink: 0;
}

#notificationField .notification .rating .star {
    margin-right: calc(var(--margin) / 2);
    line-height: 0;
    flex-shrink: 0;
}

#notificationField .notification .rating .star img {
    height: var(--largeFontSize);
}

#notificationField .notification .rating .star.selected img, #notificationField .notification .review input[type=radio]:checked ~ .star img {
    background-color: gold;
}

#notificationField .notification span.timestamp {
    margin-top: var(--margin);
    font-weight: initial;
    text-align: right;
    display: block;
    color: gray;
}

#notificationField .notification .review {
    padding: 0;
    margin-top: var(--margin);
    margin-right: var(--margin);
}

#notificationField .notification .review span {
    display: inline;
}

#notificationField .notification .review textarea {
    margin-bottom: 0;
}

#notificationField .notification .review .ratingSubmitContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (hover: hover) {
    #notificationField .notification .review input[type=radio] ~ .star img:hover {
        background-color: rgb(201, 199, 197) !important; /* light gray 85% brightness */
    }

    #notificationField .notification .review input[type=radio]:checked ~ .star img:hover {
        background-color: rgb(217, 183, 0) !important; /* gold 85% brightness */
    }
}

#notificationField .notification .review button {
    width: 50%;
}

@media (max-width: 400px) {
    #notificationField .notification .review .ratingSubmitContainer {
        flex-direction: column;
        align-items: flex-start;
    }

    #notificationField .notification .review .rating {
        max-width: 100%;
        margin-bottom: calc(var(--margin) / 2);
    }

    #notificationField .notification .review button {
        width: 100%;
    }
}

/*
styling for the message field
*/

#messageField .textSubmit {
    display: flex;
}

#messageField .textSubmit input {
    width: 0;
    flex-grow: 1;
    margin-bottom: 0;
    background-color: var(--lightgray);
    transition: 0.05s;
    nav-index: 0;
}

@media (hover: hover) {
    #messageField .textSubmit input:hover {
        background-color: var(--gray);
    }
}

#messageField .textSubmit input:focus {
    background-color: var(--gray);
}

#messageField .textSubmit button {
    width: calc(var(--mediumFontSize) * 2);
    margin-left: var(--margin);
    padding: var(--margin);
}

#messageField .textSubmit button img {
    height: 100%;
    filter: invert(1);
}

#messageField .conversations .conversation {
    width: 100%;
    padding: var(--margin);
    margin-bottom: var(--margin);
    background-color: var(--lightgray);
    border-radius: var(--borderRadius);
    display: flex;
}

#messageField .conversations .conversation img {
    height: calc(var(--largeFontSize) * 2);
    margin-right: var(--margin);
    flex-shrink: 0;
}

#messageField .conversations .conversation .text {
    flex-grow: 1;
    font-size: 0;
}

#messageField .conversations .conversation .text .top {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#messageField .conversations .conversation section span {
    max-width: 100%;
    max-height: var(--largeFontSize);
    font-size: var(--mediumFontSize);
    line-height: var(--largeFontSize);
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}

#messageField .conversations .conversation section span.user, #messageField .conversations .conversation section span.unread {
    font-weight: bold;
}

#messageField .conversations .conversation section span.user {
    flex-shrink: 0;
}

#messageField .conversations .conversation section span.timestamp {
    font-size: var(--smallFontSize);
    line-height: initial;
}

@media (hover: hover) {
    #messageField .conversations .conversation:hover img, #messageField .conversations .conversation:focus-visible img {
        filter: brightness(85%);
    }

    #messageField .conversations .conversation:hover span.user, #messageField .conversations .conversation:focus-visible span.user {
        text-decoration: underline;
    }
}

/*
styling for the message field with a conversation
*/

#messageField .header {
    border-bottom: 2px solid black;
    line-height: 1;
    font-size: 0;
    display: flex;
}

#messageField .header > a {
    padding: var(--margin);
    display: inline-flex;
    align-items: center;
    flex-shrink: 0;
}

#messageField .header > a > img, #messageField .header > a > .imgContainer {
    height: calc(var(--profileBarHeight) * 0.6);
}

#messageField .header > a > .imgContainer img {
    height: 100%;
}

#messageField .header > a.return {
    padding-left: 0;
    padding-right: 0;
}

#messageField .header > a.return .imgContainer {
    padding-right: var(--margin);
    border-right: 2px solid black;
}

#messageField .header > a.return img {
    padding: calc(var(--margin) / 2);
    border-radius: var(--borderRadius);
    border: 2px solid black;
    background-color: white;
}

#messageField .header > a.profile {
    flex-shrink: 1;
}

#messageField .header > a.profile img {
    margin-right: calc(var(--margin) / 2);
    flex-shrink: 0;
}

#messageField .header > a.profile span {
    max-height: var(--largeFontSize);
    font-size: var(--mediumFontSize);
    line-height: initial;
    overflow-y: scroll;
    font-weight: bold;
}

@media (hover: hover) {
    #messageField .header > a:hover img, #messageField .header > a:focus-visible img {
        filter: brightness(85%);
    }

    #messageField .header > a:hover span, #messageField .header > a:focus-visible span {
        text-decoration: underline;
    }
}

#messageField .messages {
    height: 100vh;
    display: flex;
    flex-shrink: 1;
    flex-direction: column-reverse;
}

#messageField .messages * {
    flex-shrink: 0;
}

#messageField .messages .messageContainer:last-child {
    padding-top: var(--margin);
}

#messageField .messages .messageContainer:not(:first-child) {
    margin-bottom: var(--margin);
}

#messageField .messages .messageContainer {
    display: flex;
    flex-direction: column;
}

#messageField .messages .sent {
    align-items: flex-end;
}

#messageField .messages .message {
    max-width: 90%;
    width: fit-content;
    background-color: var(--lightgray);
    border-radius: calc(var(--borderRadius) * 2);
    padding: var(--margin);
}

#messageField .messages .sent .message {
    background-color: var(--orange);
    color: white;
}

#messageField .messages span.timestamp {
    margin-top: calc(var(--margin) / 4);
    font-size: var(--smallFontSize);
}

#messageField form.textSubmit {
    margin-bottom: var(--margin);
    padding-top: var(--margin);
}
