/**
 * used in home.php to style the home page
 */

#homePage {
    width: min(1500px, calc(100% - var(--screenPadding)));
}

#homePage form, #homePage .scrollContent {
    width: min(750px, max(100%, var(--minimumWidth)));
}

#homePage .listContainer section.add {
    margin-bottom: calc(var(--margin) * 2);
}

#homePage .listContainer section.add span {
    width: calc(100% - var(--largeFontSize) * 2);
    font-size: var(--largeFontSize);
}

#homePage .listContainer section.add img {
    height: var(--largeFontSize);
}

#homePage .resultsMessage {
    margin-bottom: var(--margin);
    display: block;
    color: gray;
}

#homePage form {
    padding: var(--margin);
    background-color: var(--lightgray);
    border-radius: var(--borderRadius);
    line-height: 0;
    font-size: 0;
}

#homePage form * {
    line-height: initial;
    font-size: var(--mediumFontSize);
}

#homePage form > header, #homePage form > button, #homePage form > a {
    border-radius: var(--borderRadius);
    display: inline-block;
    vertical-align: top;
    cursor: default;
    line-height: 0;
}

#homePage form header {
    width: calc(100% - (var(--largeFontSize) + var(--margin)) * 2);
    margin: var(--margin);
    margin-bottom: 0;
    margin-top: 0;
    font-size: var(--largeFontSize);
    text-align: center;
    font-weight: bold;
    line-height: 1;
}

#homePage form header button {
    width: 100% !important;
    line-height: inherit;
    font-size: inherit;
    overflow: hidden;
}

#homePage form > button img, #homePage form > a img {
    height: var(--largeFontSize);
}

@media (hover: hover) {
    #homePage form > header button:hover, #homePage form > button:hover, #homePage form > a:hover,
    #homePage form > header button:focus-visible, #homePage form > button:focus-visible, #homePage form > a:focus-visible {
        background-color: var(--gray);
    }
}

#homePage form.closed > :not(header):not(button):not(a) {
    display: none;
}

#homePage form .sectionContainer {
    display: flex;
}

#homePage form span, #homePage form noscript {
    font-size: var(--smallFontSize);
    font-weight: bold;
}

#homePage form section {
    width: 50%;
    margin-top: var(--margin);
    padding: var(--margin);
    padding-left: 0;
}

#homePage form section.mapContainer {
    padding-left: var(--margin);
    padding-right: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#homePage form section .map {
    height: 0;
    flex-grow: 1;
}

@media (max-width: 500px) {
    #homePage form .sectionContainer {
        flex-direction: column;
    }

    #homePage form section {
        width: 100%;
        padding: 0 !important;
    }

    #homePage form section.mapContainer {
        margin-top: 0;
    }

    #homePage form section .map {
        height: 300px;
    }

    #homePage form .orderDirectionContainer, #homePage form .orderByContainer {
        width: 100% !important;
    }

    #homePage form .orderDirectionContainer {
        margin-bottom: var(--margin);
    }
}

#homePage form .orderDirectionContainer, #homePage form .orderByContainer {
    width: calc(50% - var(--margin));
    display: inline-block;
}

#homePage form .orderDirectionContainer .selection {
    width: calc(50% - var(--margin) / 2);
    margin-bottom: 0;
}

#homePage form .orderByContainer {
    display: flex;
}

#homePage form .orderByContainer select {
    width: 0;
    flex-grow: 1;
    margin-bottom: 0;
    margin-right: var(--margin);
    font-weight: bold;
}

#homePage form .orderByContainer button {
    width: calc(var(--mediumFontSize) * 2);
    padding: var(--margin);
    font-size: 0;
}

#homePage form .orderByContainer button img {
    height: 100%;
    filter: invert(1);
}

#homePage .pageLinks {
    width: 100%;
    height: var(--largeFontSize);
    margin-top: calc(var(--margin) * 2);
    font-size: 0;
    display: flex;
    justify-content: center;
}

#homePage .pageLinks .pageNumbers {
    height: 100%;
    margin: var(--margin);
    margin-bottom: 0;
    margin-top: 0;
    overflow: hidden;
    white-space: nowrap;
    scroll-snap-type: both mandatory;
}

#homePage .pageLinks > a, #homePage .pageLinks .pageNumbers a {
    background-color: var(--lightgray);
    border-radius: var(--borderRadius);
    flex-shrink: 0;
}

#homePage .pageLinks > a {
    width: var(--largeFontSize);
}

#homePage .pageLinks img, #homePage .pageLinks .pageNumbers a {
    height: 100%;
    padding: calc(var(--margin) / 2);
    display: inline-block;
    flex-shrink: 0;
}

#homePage .pageLinks .pageNumbers a {
    min-width: var(--largeFontSize);
    margin-right: calc(var(--margin) / 2);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: var(--mediumFontSize);
    overflow: hidden;
}

#homePage .pageLinks .pageNumbers a:last-child {
    margin-right: 0;
}

#homePage .pageLinks .pageNumbers a.currentPage {
    scroll-snap-align: center;
    background-color: var(--orange);
    color: white;
}

@media (hover: hover) {
    #homePage .pageLinks > a:hover, #homePage .pageLinks .pageNumbers a:not(.currentPage):hover,
    #homePage .pageLinks > a:focus-visible, #homePage .pageLinks .pageNumbers a:not(.currentPage):focus-visible {
        background-color: var(--gray);
    }

    #homePage .pageLinks .pageNumbers a:not(.currentPage):focus-visible {
        scroll-snap-align: center;
    }
}
