/**
 * used in login.html and register.html
 */

article {
    width: min(500px, calc(100% - var(--screenPadding)));
}

form {
    width: max(100%, var(--minimumWidth));
}

form .selection {
    width: calc(50% - calc(var(--margin) / 2));
}
