/**
 * used in accessibility.php to style the accessibility page
 */

#accessibilityPage {
    width: min(1500px, calc(100% - var(--screenPadding)));
}

#accessibilityPage .scrollContent {
    width: min(750px, max(100%, var(--minimumWidth)));
}

#accessibilityPage :not(section) > span {
    margin-bottom: calc(var(--margin) * 2);
    text-align: center;
    display: block;
}

#accessibilityPage section {
    padding: var(--margin);
    margin-bottom: calc(var(--margin));
    background-color: var(--lightgray);
    border-radius: var(--borderRadius);
}

#accessibilityPage section:last-child {
    margin-bottom: 0;
}

#accessibilityPage section.closed > *:not(header) {
    display: none;
}

#accessibilityPage section header {
    font-size: var(--mediumFontSize);
    border-radius: var(--borderRadius);
    font-weight: bold;
}

#accessibilityPage section header button {
    width: 100% !important;
}

@media (hover: hover) {
    #accessibilityPage section header button:hover, #accessibilityPage section header button:focus-visible {
        background-color: var(--gray);
    }
}

#accessibilityPage section span {
    display: block;
    margin-top: var(--margin);
}

#accessibilityPage section span ul {
    padding-left: calc(var(--margin) * 3);
    margin: var(--margin);
    margin-right: 0;
    margin-left: 0;
}

#accessibilityPage section span li {
    overflow: initial;
}
