// set theme colors such as $dark, $blue, $primary, $danger, ... and add new global variables in :root
// use var(--colorName) in css to use these colors
// more info: https://getbootstrap.com/docs/4.5/getting-started/theming/

$primary: rgb(63, 181, 129);

:root {
    --gray-light: #ced4da; // $gray-400
    --gray-lightest: #e9ecef; // $gray-200
    --border-radius: 0.5rem;
    --margin: 0.5rem;
    --double-margin: calc(var(--margin) * 2);
    --triple-margin: calc(var(--margin) * 3);
    --half-margin: calc(var(--margin) / 2);
    --font-massive: 1.75rem;
    --font-large: 1.25rem;
    --font-small: 90%;
    --font-smallest: 80%;
}

@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src';

// set global default styling

* {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, body {
    width: 100%;
    height: 100%;
}

@media (hover: hover) {
    a:hover, a:focus-visible {
        text-decoration: underline !important;
        color: var(--primary);
        outline: none;
    }
}

button, span {
    word-break: break-all;
}

textarea {
    overflow-y: hidden !important;
}

.center {
    text-align: center;
}

// .custom-file-label styling must be defined here for some ungodly reason, dont ask me why
.list-item:not(.nostyle) .item-content.editable {
    input, textarea, .custom-file-label, .custom-file-label::after {
        margin: 0;
        padding-top: 0;
        padding-bottom: 0;
        background-color: var(--gray-lightest);
        height: auto;
    }

    input, textarea, .custom-file-label {
        padding-left: var(--half-margin);
    }

    .b-form-file {
        line-height: 1.3;
        height: auto;
    }
}

// custom tooltip styling must be defined here as well, god is dead
.tooltip {
    top: 0; // do not remove, required to make b-tooltip not shit the bed
    opacity: 1 !important;

    & > .tooltip-inner {
        padding: var(--margin);
        border: 2px solid black;
        max-width: calc(var(--breakpoint-sm) / 2);
        background-color: var(--gray-lightest);
        font-size: var(--font-small);
        color: black;
    }
}
