button.icon {
    width: 1.5rem;
    height: 1.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius);
    background-color: var(--gray-light);
    box-shadow: none !important;
    color: var(--black);
    outline: none;
    border: none;
}

button.icon:hover, button.icon:focus-visible {
    background-color: var(--gray);
    color: var(--white);
}

button.icon.primary:hover, button.icon.primary:focus-visible {
    background-color: var(--primary);
}

button.icon.danger:hover, button.icon.danger:focus-visible {
    background-color: var(--danger);
}
