// general styling for list forms

.list-form {
    display: flex;
    justify-content: center;
    overflow-y: scroll !important;
    padding: var(--double-margin);
    padding-bottom: 0;

    form {
        width: min(100%, var(--breakpoint-md));
    }
}

.list-item, .add-list-item {
    margin-top: var(--margin);
}

.list-item {
    display: flex;

    &:not(.nostyle) {
        padding: var(--margin);
        border-radius: var(--border-radius);
        background-color: var(--gray-light);
    }

    &.card {
        padding: 0;
        border: none;
        margin-bottom: var(--double-margin);
        background-color: var(--gray-lightest);

        .content {
            padding: var(--double-margin);

            span {
                display: block;
            }
        }

        .footer {
            display: flex;
            align-items: center;
            background-color: var(--gray-light);
            border-top: 1px solid var(--gray-half);
            border-bottom-left-radius: var(--border-radius);
            border-bottom-right-radius: var(--border-radius);

            span {
                flex-grow: 1;
                padding: var(--margin);
                color: var(--gray);
                font-size: small;
            }

            button {
                border-radius: 0;
                border-bottom-right-radius: var(--border-radius);
            }
        }
    }

    .item-content {
        width: 0;
        flex-grow: 1;
        margin-right: var(--margin);
    }
    
    .item-name {
        display: block;
        font-weight: bold;
    }

    .item-description {
        display: flex;
        flex-wrap: wrap;
    }

    .item-category {
        min-width: 5rem;
        color: var(--gray);
        display: inline-block;
    }

    .item-category ~ *:not(.item-value):not(.item-value-tooltip) {
        width: 0;
        flex-grow: 1;
    }

    .item-value-tooltip {
        margin-left: var(--margin);
    }

    .item-content.editable {
        textarea, .item-description {
            margin-top: var(--margin);
        }
    }
}

.add-list-item {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: var(--double-margin);

    input, textarea, .b-form-file, .date-time-picker {
        width: 100%;
        margin-top: var(--margin);
    }
    
    input:first-of-type {
        width: 0;
        flex-grow: 1;
        margin-top: 0;
        margin-right: var(--margin);
    }
}

$breakpoint-sm: 576px;
@media (max-width: $breakpoint-sm) {
    .list-item {
        .item-description {
            flex-wrap: wrap;
        }

        .item-category ~ *:not(span) {
            width: 100%;
        }
    }
}

form > button {
    width: calc(50% - var(--margin) / 2);
    margin-bottom: var(--double-margin);
}

form > .btn-danger {
    margin-right: var(--margin);
}
