/**
 * styling applied when js is disabled
 */

/*
show elements that should be centered and shown with center.js
and center them using css, horizontal centering should work for most elements,
but might cause problems for elements not smaller than their parent,
this however only occurs in extreme screen sizes, and is no problem for even small phones
vertical centering does not work
*/

.center, .centerHorizontal, .centerVertical {
    visibility: visible !important;
}

.center, .centerHorizontal {
    margin-left: 50%;
    transform: translateX(-50%);
}

.center, .centerVertical {
    /* margin-top % is calculated based on the width of the parent, vertical centering is not possible */
    margin-top: var(--margin);
}

/*
show closed form sections as if they are open
*/

form > section.closed {
    padding-bottom: 0;
}

form > section.closed :not(header):not(.errorText):not(.errorMessage) {
    display: initial;
}

form > section.closed .warningText {
    display: block !important;
}

form > section > header:hover {
    background-color: transparent;
}

/*
show the closed search options as if they are open
*/

#homePage form.closed > div {
    display: block !important;
}

#homePage form.closed > .sectionContainer, #homePage form.closed > .orderByContainer {
    display: flex !important;
}

#homePage form.closed > .orderDirectionContainer {
    display: inline-block !important;
}

#homePage form header:hover, #homePage form img:first-of-type:hover {
    background-color: transparent;
}

/*
show the closed accessibility options as if they are open
*/

#accessibilityPage section.closed > * {
    display: block !important;
}

#accessibilityPage section header:hover {
    background-color: transparent;
}

/*
show file inputs, because custom file previews dont work,
and hide the custom file inputs
*/

input[type=file] {
    display: initial !important;
}

#editProfileAvatarSelectImage {
    display: none;
}

/*
hide the map, because it does not work without js
instead show the hidden input fields, so the user can input a location there
*/

.map {
    height: initial !important;
    margin-bottom: 0 !important;
    border: none !important;
    border-radius: 0 !important;
}

.map img {
    display: none;
}

.map input:enabled {
    position: initial;
    opacity: 1;
    z-index: 1;
    width: calc(50% - var(--margin) / 2);
}
